<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% seo "" %}    
    <link rel="shortcut icon" type="image/png" href="/images/uploads/logo.png" data-turbolinks-permanent/> 

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CJN5BP9S2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6CJN5BP9S2');
    </script>

    <!-- Turbo Links -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" integrity="sha512-G3jAqT2eM4MMkLMyQR5YBhvN5/Da3IG6kqgYqU9zlIH4+2a+GuMdLb5Kpxy6ItMdCfgaKlo2XFhI0dHtMJjoRw==" crossorigin="anonymous"></script> 
             
    <meta name="turbolinks-visit-control" content="reload"> 
     
    {% set css %}
    {% include "styles/globalStyle.css" %}
    {% endset %}
  
    <style>
        {{css | cssmin | safe}}
    </style>   
</head>
