<div class="navContainer">

<section class="fixedNav">

    <nav class="navbar">
    <a href="/">
    <img loading="eager" src="/images/uploads/logo.png" alt="Clan Portugal Hill Climb Racing" id="navbarLogo" data-turbolinks-permanent/>
    </a>
    <div class="menuToggle" id="mobileMenu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    </div>

        <ul class="navMenu" id="navLinks">

            {% for item in nav %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}

            <li>
                <span class="github-icon" ><a href="/youtube/" target="_self" rel="noreferrer noopener" aria-label="youtube" data-turbolinks-permanent>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="25" viewBox="0 0 126.643 88.936"  xmlns:v="https://vecta.io/nano"><path d="M54.924 88.913l-8.284-.166-17.343-.481-9.178-.536a125.16 125.16 0 0 0-2.526-.355c-5.437-.729-8.468-2.08-11.33-5.048-2.642-2.741-4.583-7.994-5.27-14.262-.241-2.196-.629-6.888-.724-8.761-.042-.819-.106-1.624-.141-1.788-.14-.64-.176-21.647-.041-24.495.232-4.931.743-11.132 1.153-14.006.565-3.96 2.286-8.863 3.907-11.128.747-1.044 2.703-2.892 3.889-3.674 3.17-2.089 5.566-2.704 12.218-3.134C38.76-.053 68.847-.335 91.16.425c8.368.285 15.708.692 18.416 1.021 4.355.53 7.45 1.941 10.237 4.666 1.079 1.055 1.655 1.784 2.283 2.891 1.254 2.21 2.489 5.889 3.081 9.178.578 3.213 1.196 11.549 1.401 18.893.117 4.209.07 16.698-.068 17.939-.025.229-.081 1.275-.124 2.324l-.122 2.265c-.024.197-.077.921-.116 1.609-.13 2.266-.587 7.01-.845 8.782-.222 1.525-.859 4.131-1.415 5.793-1.014 3.031-2.094 4.966-3.697 6.626-2.725 2.821-5.727 4.341-9.779 4.949-3.404.511-13.41 1.014-27.654 1.39-4.468.118-24.473.235-27.832.163zm2.065-31.444l17.245-8.83 10.524-5.417c.052-.05-4.534-2.467-10.191-5.372L52.123 26.253c-1.049-.55-1.947-.979-1.997-.953-.103.054-.124 35.673-.021 35.673.038 0 3.135-1.577 6.884-3.504z" style="fill:#666;"/></svg></a>
                </span>
            </li>

            <li>
                <span class="facebook-icon">
                <a href="https://discord.gg/C442ay3" target="_blank" rel="noreferrer noopener" aria-label="discord" data-turbolinks-permanent>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 161.866 123.268"  xmlns:v="https://vecta.io/nano"><path d="M10.673-20.552v-70.682h180.673V50.13H10.673zm52.798 59.153c3.83-4.046 6.173-7.046 6.144-7.868-.012-.35-2.727-2.129-6.034-3.954-5.568-3.072-15.618-11.169-14.834-11.953.188-.188 2.886 1.054 5.996 2.761 13.576 7.451 27.56 10.806 45.51 10.918 17.907.112 28.759-2.366 44.122-10.075 4.199-2.107 8.044-3.831 8.545-3.831 2.824 0-9.441 9.577-17.326 13.529-2.599 1.302-4.725 2.548-4.725 2.767 0 .978 6.273 8.763 7.942 9.857 3.569 2.338 15.348-.212 25.492-5.519 5.477-2.865 14.379-10.506 16.003-13.735 1.642-3.266 1.935-7.34 1.168-16.231-1.857-21.505-9.965-53.874-16.989-67.822-1.458-2.896-3.856-6.183-5.597-7.673-5.671-4.854-18.685-10.367-28.068-11.889-11.313-1.836-10.948-.643 1.75 5.718 10.165 5.093 18.376 9.941 17.805 10.513-.173.173-3.017-.849-6.319-2.27-7.668-3.301-17.71-6.193-26.393-7.601-8.044-1.305-25.057-1.454-33.405-.293-9.112 1.267-21.869 4.728-30.085 8.16-4.099 1.713-7.82 3.114-8.269 3.114-2.432 0 14.113-9.382 25.056-14.208 3.014-1.329 5.481-2.759 5.481-3.176 0-1.111-5.695-.906-11.339.407-6.701 1.559-18.071 7.308-22.72 11.489-4.444 3.996-7.633 9.854-11.659 21.421C24.124-29.887 19.792-8.59 19.194 7.834c-.456 12.523-.22 13.377 5.2 18.797 8.111 8.111 22.907 14.998 32.513 15.134 3.191.045 3.809-.253 6.564-3.163z" fill-opacity="0"/><path d="M29.756 122.135c-10.339-2.682-25.119-12.393-28.54-18.752-2.848-5.295-.502-28.918 5.06-50.95 5.375-21.292 11.242-35.031 17.116-40.085C30.722 6.041 46.377-.283 53.358.241l3.044.229-6.709 2.957C37.457 8.821 23.317 17.323 24.535 18.554c.247.25 4.736-1.265 9.975-3.367 16.714-6.705 29.525-9.228 46.65-9.186 18.296.045 27.053 2.098 51.216 12.008.52.213.945.027.945-.413 0-1.317-6.502-5.419-18.521-11.685L103.461 0l5.086.443c6.493.566 13.679 2.791 21.551 6.672 8.255 4.071 11.131 6.574 13.937 12.133 7.343 14.547 15.282 45.785 17.32 68.156 1.202 13.195.704 14.954-6.143 21.679-8.173 8.029-23.777 14.735-32.755 14.078-2.846-.208-3.424-.642-6.762-5.068l-3.65-4.841 5.201-2.737c8.628-4.54 19.559-13.577 17.765-14.686-.393-.243-5.271 1.749-10.841 4.426-16.717 8.036-30.181 10.858-47.546 9.966-16.364-.84-29.23-4.429-42.661-11.897-4.501-2.503-8.309-4.426-8.461-4.273-.827.827 12.25 12.123 17.671 15.266 3.43 1.988 6.235 3.825 6.233 4.08s-1.9 2.591-4.218 5.19c-4.058 4.549-4.346 4.723-7.745 4.675-1.942-.027-5.401-.535-7.688-1.128zm80.54-35.017c5.27-2.394 10.123-9.686 10.157-15.262.023-3.676-1.908-9.891-3.833-12.339-3.405-4.328-11.568-6.81-15.579-4.736-2.594 1.341-6.457 5.51-8.162 8.808-1.754 3.392-2.221 8.597-1.124 12.516 1.237 4.418 6.178 9.899 10.194 11.306 3.948 1.384 4.711 1.357 8.347-.295zM61.101 86.06c5.59-3.166 9.088-11.483 7.832-18.621-1.24-7.046-7.85-13.21-14.167-13.21-8.258 0-14.435 7.069-14.42 16.503.008 4.911 2.302 11.057 4.988 13.364 4.667 4.009 10.806 4.773 15.766 1.963z" style="fill:#666;"/></svg></a>  
                </span>
            </li>

            <li>
            <button class="[ toggle-button ] [ js-mode-toggle ]" id="light-mode-off" aria-label="dark mode" alt="Icons made by https://www.flaticon.com/authors/freepik">
            <span class="toggle-button__icon" aria-hidden="true"></span>
            </button>
            </li>

        </ul>
    </nav>

</section>
</div>  
