<section class="team">  

    <div class="team-1 team-fit">

        {%- if pt0.profilept0 -%}

            {%- for item in pt0.profilept0 -%}

                <div class="grid-element-team module" >                
                    <img class="featuredImage" src="{{ item.featuredImage }}" alt="{{ featuredImage }}"></img>
                    <h2>{{ item.title }}</h2>
                    <img class="flag" src="{{ item.flag }}" alt="{{ flag }}"></img> 
                    <a href="{{ item.linkyoutube }}" target="_blank" rel="noreferrer noopener" aria-label="youtube"><img class="youtubeIcon" src="{{ item.youtubelogo }}" alt="Portugal 1 Player"></img></a> 
                </div>              

            {%- endfor -%}

        {%- endif -%}

    </div>      

</section>

{# TEAM CSS ================ #}
{% set css %}
{% include "styles/team.css" %}
{% endset %}

<style>
{{css | cssmin | safe}}
</style> 