---
layout: layouts/base.njk
title: Oops! Not Found!
permalink: 404.html
---

<main class="align-center">

    <h1>{{ title }}</h1>

    <p>Sou o único por aqui! Talvez o que estás à procura está na 
        <a href="{{ " /" | url }}">home page?</a>
        <br/>    
    </p>

    <img src="/images/potoo-small.png" alt="Potoo Narciso Ornelas Avatar">

</main>

    {# 404 Style ================ #}
    {% set css %}
    {% include "styles/404.css" %}
    {% endset %}

    <style>
        {{css | cssmin | safe}}
    </style> 